@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    background-image: url(https://i.imgur.com/33Lm0KI.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

.conteudo {
    display: flex;
    justify-content: center;
}

p {
    text-align: center;
}

/* .sorteador {
    box-shadow: 0 0 5px;
    background: pink; /* cor de teste */
    /* width: 80%;
    height: 100%;
    border-radius: 15px;
} */ 


h1 {
    font-size: 30px;
    margin-top: 50px;
    color: black;
    text-align: center;
}

.sortear {
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    width: 20%;
    height: 50%;
    margin-top: 50px;
}